@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

body {
    margin: 0px;
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; /* Ensure body content is above the background */
}

body::before {
    content: "";
    position: fixed; /* Change to fixed to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('bodybackgroundimage.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Apply blur effect */
    z-index: -1; /* Ensure it stays behind the body content */
}

html {
    font-size: 16px;  /* Base font size */
}

.headerClass {
   
    height: 15vh;
    background-image: url('HeaderBackGround.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px 0;
    top: 0;
    width: 100%;
    z-index: 1002;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerClass h1 {
    font-family: 'Lemonada', sans-serif;
    font-size: 1.5em; /* Adjust the value as needed */
    color: #FFD700;
    animation: glow 1.5s infinite alternate;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lemonada', sans-serif;
}

@keyframes glow {
    /* ... your existing glow animation ... */
    0% {
        text-shadow: 0 0 5px #ffd70038, 0 0 10px #ffd70038, 0 0 15px #ffd70038, 0 0 20px #ffd70038, 0 0 25px #ffd70038, 0 0 30px #ffd70038, 0 0 35px #ffd70038
    }
    50% {
        text-shadow: 0 0 10px #ffd70038, 0 0 20px #ffd70038, 0 0 30px #ffd70038, 0 0 40px #ffd70038, 0 0 50px #ffd70038, 0 0 60px #ffd70038, 0 0 70px #ffd70038
    }
    100% {
        text-shadow: 0 0 5px #ffd70038, 0 0 10px #ffd70038, 0 0 15px #ffd70038, 0 0 20px #ffd70038, 0 0 25px #ffd70061, 0 0 30px #ffd70080, 0 0 35px #ffd70091
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .headerClass h1 {
        font-size: 1.5em; /* Smaller font size for mobile */
    }
}
